@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-color: #0f1111;
  font-family: "Poppins", sans-serif;
}

.containerHeader{
  margin-top: 25px;

}

 *::selection {
  background: #2b3dda;
  color: #fff;
} 

/* hero section starts*/
.homeHeader {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
}
.homeHeader #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.homeHeader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.homeHeader .content {
  margin-left: 20px;
  flex: 1 1 40rem;
  padding-top: 1.25rem;
  z-index: 1;
}

.homeHeader .content h2 {
  width: max-content;
  font-size: 4rem;
  font-weight: 600;
  color: #ffffff;
}
.homeHeader .content h2 span {
  font-size: 4rem;
  font-weight: 800;
  color: #35e4ff;
}
.homeHeader .content p {
  font-size: 2.2rem;
  color: #b77fff;
  font-weight: 700;
  padding: 1rem 0;
}
.homeHeader .content p span {
  font-size: 2.2rem;
  color: rgb(177 56 30);
  font-weight: 600;
  padding: 1rem 0;
}
.homeHeader .btn {
  margin-top: 0.9rem;
  position: absolute;
  line-height: 0;
  padding: 1.0rem 0.8rem;
  border-radius: 2em;
  transition: 0.5s;
  color: #ffffffb3;
  /* background: #000000; */
  /* box-shadow: 0px 5px 18px rgba(3, 3, 3, 0.6); */
  font-family: "Nunito", sans-serif;
}
.homeHeader .btn span {
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
}
.homeHeader .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.homeHeader .btn:hover {
  background: #ffffff00;
  
}
.homeHeader .btn:hover i {
  transform: translateX(5px);
}

/* homeHeader media queries starts*/
@media (max-width: 450px) {
  .homeHeader .btn {
    margin: 4rem 0;
  }
  .socials {
    margin-top: 12rem;
  }
  .homeHeader .content p {
    font-size: 2.2rem;
  }
  .homeHeader .content p span {
    font-size: 2.2rem;
  }
}
/* homeHeader media queries ends*/
